<!DOCTYPE html>
<html>

<head>
    <title>Request to Reset HealthScout Password</title>
</head>

<body>
    <div>
        <h4>Dear {{name}},</h4>
        <p>Someone has requested for a password reset to be sent to this email.<br />
         If you did not request to reset your password, please ignore this email.<br />
        If you did, kindly use this <a href="{{url}}">link</a> to reset your password.<br/>
		The password reset link will expire in 3 days.</p>
        <h4>Cheers!<br />
        Citron Inc.</h4>
    </div>
   
</body>

</html>
